---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Hakkımızda";
const pageDescription = "DENKLEM mobil uygulaması ve ekibimiz hakkında daha fazla bilgi edinin. Misyonumuz, vizyonumuz ve değerlerimiz.";
---
<BaseLayout title={pageTitle} description={pageDescription}>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-6 text-center">{pageTitle}</h1>
    <div class="prose prose-lg max-w-none dark:prose-invert text-justify">
      <p>
        DENKLEM, arabuluculuk süreçlerinde hesaplamaların karmaşıklığını ortadan kaldırmak ve süreci kolaylaştırmak amacıyla geliştirilmiş bir mobil uygulamadır. Uygulama, bir hukukçu ve arabulucu olarak kendi mesleki ihtiyaçlarımdan yola çıkarak, pratik ve güvenilir bir araç arayışım sonucunda ortaya çıkmıştır.
      </p>
      <h2 class="text-2xl font-semibold mt-8 mb-4">Misyonum</h2>
      <p>
        Arabulucular, taraflar ve avukatlar için hesaplamaları anlaşılır, hızlı ve adil bir şekilde sunan, kolay erişilebilir bir çözüm oluşturmak.
      </p>

      <h2 class="text-2xl font-semibold mt-8 mb-4">Vizyonum</h2>
      <p>
        Türkiye’de ve uluslararası alanda, arabuluculuk alanında en çok tercih edilen ve güvenilen hesaplama uygulaması olmayı hedefliyorum. Sürekli gelişim ve yenilik arayışıyla, kullanıcıların ihtiyaçlarına en iyi şekilde cevap vermek önceliğimdir.
      </p>

      <h2 class="text-2xl font-semibold mt-8 mb-4">Değerlerim</h2>
      <ul class="space-y-2">
        <li>
          <span class="inline-block w-25 sm:w-40 font-semibold">Kullanıcı Odaklılık</span>: 
          Geri bildirimleri dikkate alıyor, uygulamayı sürekli iyileştiriyorum.
        </li>
        <li>
          <span class="inline-block w-25 sm:w-40 font-semibold">Güvenilirlik</span>: 
          Doğru ve güncel mevzuata uygun hesaplamalar sunmaya çalışıyorum.
        </li>
        <li>
          <span class="inline-block w-25 sm:w-40 font-semibold">Erişilebilirlik</span>: 
          Herkesin rahatlıkla kullanabileceği, sade ve anlaşılır bir arayüz sunuyorum.
        </li>
        <li>
          <span class="inline-block w-25 sm:w-40 font-semibold">Şeffaflık</span>: 
          Hesaplama yöntemlerinde ve tüm uygulama politikalarında açık davranıyorum.
        </li>
        <li>
          <span class="inline-block w-25 sm:w-40 font-semibold">Açık Kaynak</span>: 
          DENKLEM’in kaynak kodlarını herkesle paylaşarak, topluluk katkısına ve kolektif gelişime açık tutuyorum.
        </li>
      </ul>
      <h2 class="text-2xl font-semibold mt-8 mb-4">Hakkımda</h2>
      <p>
        DENKLEM uygulamasını, alandaki pratik ihtiyaçlardan yola çıkarak; yenilikçi, kullanıcı dostu ve güvenilir bir çözüm sunmak amacıyla geliştirdim.
      </p>
    </div>
  </div>
</BaseLayout>
